language: python
virtualenv:
    system_site_packages: true
python:
    - "2.7"
before_install:
    - "pip install --upgrade pip"
    - "sudo apt-get update -qq"
    - "sudo apt-get install python-tk python-sklearn build-essential"
install: 
    - "pip install cython scipy scikit-learn --upgrade"
    - "pip install coveralls"
    - "sed -i \"/^\\/usr\\/lib/d\" /home/travis/virtualenv/python2.7_with_system_site_packages/local/lib/python2.7/site-packages/easy-install.pth || echo Error"
script: "xvfb-run --server-args=\"-screen 0 1024x768x24\" nosetests tests --logging-clear-handlers -v --with-coverage"
after_success:
  coveralls